body {
  background-color: #FFF9B2;
  color: #3F0713;
}
h1{
	text-align: center;
	font-size: 60px;
	font-family: 'Indie Flower', cursive;
}
h2{
	text-align: center;
	font-size: 30px;
	font-family: 'Indie Flower', cursive;
}
h3 {
	font-size: 20px;
	font-family: 'Indie Flower', cursive;
}
p {
	margin-right: 150px;
	margin-left: 150px;
	font-family: 'Architects Daughter', cursive;
	text-align: justify;
	font-size: 20px;
}
p.foooter {
	text-align: center;
}
	
.row {
  display: flex;
}

.column {
  flex: 50%;
}
img {
  border: 5px dashed #B24080;
  border-radius: 10%;
}
hr {
  border-top: 5px dashed #B24080;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.left {
	display: block;
	margin-left: 0 ;
}

#navbar {
  overflow: hidden;
  background-color: #ECAC5D;
  text-align:center;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-family: 'Architects Daughter', cursive;
}

.content {
  padding: 16px;
}

#navbar a:hover {
  background-color: #B8874B;
}

li {
	font-family: 'Architects Daughter', cursive;
	font-size: 15px;
}
	